<div class="uk-margin uk-height-medium uk-width-large">
    <div class="uk-card uk-card-small uk-card-default uk-card-body">
        <form>
            <input class="uk-input uk-form-blank uk-form-width-medium" type="text" placeholder="Brain Dump">
            <textarea class="uk-textarea uk-form-blank" rows="5" id="braindumpText"placeholder="Dump those thoughts here!"></textarea>
        </form>
    </div>

</div>