
{{#each post_its}}
<div class='uk-margin-bottom uk-width-1-6 uk-height-1-2'>
    <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light" id="postit-note">
    <p>{{content}}</p>
</div>
{{/each}}
