
{{#each post_its}}
<div class='uk-margin-bottom uk-width-1-6@l uk-width-1-2@m uk-width-1-1@s widgets'>
    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light" id="postit-note">
    <p>{{content}}</p>
    </div>
</div>
{{/each}}
