
{{#each post_its}}
<div data-thing="postits" data-id={{id}} id="postitMoving"class='uk-margin-bottom uk-width-1-6@l uk-width-1-5@m uk-width-1-1@s widgets'>
    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light" id="postit-note">
    <h4>{{title}}</h4>
    <img src="{{content}}" alt="your beautiful memory">
    </div>
</div>
{{/each}}
