
{{#each post_its}}
<div class='uk-margin-bottom uk-width-1-6 uk-height-1-2'
id="postit-widget">
    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light uk-width-large uk-height-large" id="postit-note">
    <p>{{content}}</p>
</div>
{{/each}}
