
{{#each braindumps}}
<div data-thing="braindumps" data-id={{id}} id="braindumpMoving"class="uk-margin-bottom uk-width-1-4@l uk-width-1-3@m uk-width-1-1@s widgets">
    <div class="uk-card uk-card-small uk-card-default uk-card-body">
    <h4>{{title}}</h4>
    <p>{{content}}</p>
    </div>
</div>
{{/each}}
