
{{#each inspirations}}
<div class="uk-height-small uk-margin-bottom uk-width-1-3">
    <div class="uk-card uk-card-large uk-card-default uk-card-body uk-text-center" style="font-style: italic;">
        <h4>{{content}}</h4>
    </div>
</div>
{{/each}}

