<div class='uk-width-1-1 uk-height-1-1 uk-margin'>
    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light uk-width-large uk-height-large"
        id="postit-note">

        {{!-- <div class='uk-flex uk-flex-right' id='content-buttons'>
            <button class="uk-button uk-inline-block uk-button-default " id='postit-textBtn'>Text</button>
            <button class="uk-button uk-inline-block uk-button-default " id='postit-imageBtn'>Image</button>
        </div> --}}

        <ul uk-tab class='uk-flex-right' id='content-buttons'>
            <li class="uk-active"><a href="#postitTextarea" id='postit-textBtn'>TEXT</a></li>
            <li><a href="#postitImageUpload" id='postit-imageBtn'>IMAGE</a></li>
        </ul>


        <input class="uk-input uk-form-blank" id="postitTitle" type="text" placeholder="Add a title or caption!">

        {{!-- textbox if text is selected --}}
        <textarea class="uk-textarea uk-form-blank postitValue" rows="15" cols="15"
            placeholder="POST those thoughts here..." id='postitTextarea'></textarea>

        {{!-- upload widget if image is selected --}}
        <div style='visibility:hidden' id='postitImageUpload' class='uk-flex uk-flex-center uk-flex-middle'>
            <button id="upload_widget" class="cloudinary-button uk-button uk-button-primary">Upload files</button>
        </div>

        {{!-- div for uploaded image and button to remove that image --}}
        <div style='visibility:hidden' id='image-div'>
            <div class='postitValue' id='image-content'>
                <img id='display-img' src="" alt="user-image" class='uk-width-2-3 uk-height-2-3 uk-align-center'>
            </div>
            <br>

            <span uk-icon='icon: close' class='uk-position-bottom-right' id='remove-image'></span>
        </div>


    </div>


    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">
    </script>
    <script src='/js/postit.js'></script>