<div class='uk-width-1-2 uk-height-1-2'>
    <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light uk-width-large uk-height-large" id="postit-note">
        <textarea class="uk-textarea uk-form-blank" rows="15" cols="15"
            placeholder="POST those thoughts here..."></textarea>
</div>
