<div class="uk-margin uk-width-auto">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">TO DO LIST</h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <form>
                <ul class="uk-list" id='todo-list'>
                    <li>
                        <label><input class="uk-checkbox" type="checkbox"><input
                                class="uk-input uk-form-blank uk-form-width-medium toDoValue" type="text"
                                placeholder="Enter an item..."></label>
                    </li>
                    <li>
                        <label><input class="uk-checkbox " type="checkbox"><input
                                class="uk-input uk-form-blank uk-form-width-medium toDoValue" type="text"
                                placeholder="Enter an item..."></label>
                    </li>
                    <li>
                        <label><input class="uk-checkbox" type="checkbox"><input
                                class="uk-input uk-form-blank uk-form-width-medium toDoValue" type="text"
                                placeholder="Enter an item..."></label>
                    </li>
                </ul>
                        <a id='todo-item' href="#">Add Another Item</a>
            </form>

        </div>
    </div>
</div>

<script src="/js/elements.js" defer></script>