<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bullet Journal Squared</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo"></a>

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>
                <a href="#">More</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Templates</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="content">
    {{{body}}}
</div>
</body>