<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bullet Journal Squared</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/style.css" id='theme-css'>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo"></a>

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li>
                <a href="#">More</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Templates</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#development-modal" uk-toggle>Development</a></li>
                        <div id="development-modal" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h2 class="uk-modal-title">Development</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                    <button class="uk-button uk-button-primary" type="button">Save</button>
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="content">
    {{{body}}}
</div>
{{!-- <script src="/js/logout.js"></script> --}}

<script src='/js/themes.js'></script>
</body>