{{!-- OFF CANVAS FOR MOBILE - default display: none --}}
<button id='menu-button' class="uk-button uk-button-default uk-margin-small-left" type="button"
    uk-toggle="target: #offcanvas-nav"><span uk-icon='icon: menu'></span></button>
<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="newnote uk-active"><a href="#modal" uk-toggle><span class="uk-margin-small-right"
                        uk-icon="icon: plus"></span>Add Today's Page</a></li>
            <li class="uk-nav-header">PAGES</li>
            <li><a href="#">New Page From Template</a></li>
            <li id='newList'><a href="#">New Long-Term Page</a></li>
            <li id='listArchive'><a href="/longterm">View All Long-Term Pages</a></li>

            <li class="uk-nav-header">TEMPLATES</li>

            <li><a href="#">View Your Templates</a></li>
            <li><a href="#">Example Templates</a></li>
            <li class="uk-nav-header">ACCOUNT</li>
            <li><a href="#theme-modal" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: star"></span>Change
                    Your Theme</a></li>
            {{!-- <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Account Settings</a>
            </li> --}}
            <li class="uk-nav-divider"></li>
            <li id='logout'><a href="/api/users/logout"><span class="uk-margin-small-right"
                        uk-icon="icon: sign-out"></span> Log Out</a>
            </li>
        </ul>
    </div>
</div>

<div class='uk-flex-inline uk-width-5-6'>
    <div class="uk-card uk-card-default uk-card-body uk-width-auto" id='sidebar'>
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="newnote uk-active"><a href="#modal" uk-toggle><span class="uk-margin-small-right"
                        uk-icon="icon: plus"></span>Add Today's Page</a></li>
            <li class="uk-nav-header">PAGES</li>
            <li><a href="#">New Page From Template</a></li>
            <li id='newList'><a href="#">New Long-Term Page</a></li>
            <li id='listArchive'><a href="#">View All Long-Term Pages</a></li>

            <li class="uk-nav-header">TEMPLATES</li>

            <li><a href="#">View Your Templates</a></li>
            <li><a href="#template-slideshow" uk-toggle>Example Templates</a></li>
            <li class="uk-nav-header">ACCOUNT</li>
            <li><a href="#theme-modal" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: star"></span>Change
                    Your Theme</a></li>
            {{!-- <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Account Settings</a>
            </li> --}}
            <li class="uk-nav-divider"></li>
            <li id='logout'><a href="/api/users/logout"><span class="uk-margin-small-right"
                        uk-icon="icon: sign-out"></span> Log Out</a>
            </li>
        </ul>
    </div>
    <div class="uk-container uk-width-4-5">
        <h1 class="uk-heading-divider uk-text-center">All Daily Pages</h1>
        <ul class="uk-list uk-list-large uk-list-divider uk-list-striped" id='allnotes-list'>
        </ul>
    </div>
</div>

{{!-- Theme changer pop up --}}
<div id="theme-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center">
        <h2 class="uk-modal-title uk-align-center">Themes</h2>
        <div class='uk-flex uk-flex-around'>
            <label><span class="uk-icon uk-icon-image"
                    style="background-image: url(/images/defaulttheme.png);"></span><br><input class="uk-radio"
                    type="radio" name="radio1" id='default-theme'>Default</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/greentheme.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='green_theme'>
                Soft Green</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/naturaltheme.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='natural-theme'>
                Natural</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/softtheme.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='soft-theme'>
                Soft Default</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/darkmode.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='dark-mode'>
                Default Dark</label>
            <label>
                <span class="uk-icon uk-icon-image" style="background-image: url(/images/darkmono.png);"></span><br>
                <input class="uk-radio" type="radio" name="radio1" id='dark-mono'>
                Classic Dark Mode</label>
        </div>
        <br><br>

        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary uk-modal-close" type="submit" id='theme-switch'>Save</button>
        </p>
    </div>
</div>

{{!-- EXAMPLE THEMES SLIDESHOW MODAL --}}

<div id="template-slideshow" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: slide; finite: true">
            <ul class="uk-slideshow-items">
                <li>
                    <img src="/images/addnew.png" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                        <h3 class="uk-margin-remove">Customize Your Daily Page!</h3>
                        <p class="uk-margin-remove">Make your pages fit your lifestyle by including elements that work
                            for your day. You can select any combination by checking the boxes on our 'Add Today's Page'
                            builder, or base your selection on one of our pre-made example templates. To look back at
                            your favorite templates later, click the heart icon at the bottom of the slideshow.
                            Favorited templates can be viewed via the 'View My Templates' link on your dashboard. Scroll
                            for inspiration!</p><br>
                    </div>
                </li>
                <li>
                    <img src="images/defaultfullday.png" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                        <h3 class="uk-margin-remove">Full Day</h3>
                        <p class="uk-margin-remove">This template shows all of our available elements on one page. If
                            you have a full day ahead of you, this option offers the most opportunity for organization
                            and planning. To create this page in our Daily Page builder, make sure all of those boxes
                            are checked!</p>
                        <a href="" class="uk-icon-button" uk-icon="heart"></a>
                    </div>
                </li>
                <li>
                    <img src="/images/creatingday.png" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                        <h3 class="uk-margin-remove">Lists</h3>
                        <p class="uk-margin-remove">To create this page in our Daily Page builder, you'll want to check
                            the boxes next to To Do List and Goals.</p>
                        <a href="" class="uk-icon-button" uk-icon="heart"></a>
                    </div>
                </li>
                <li>
                    <img src="images/defaultacnhday.png" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                        <h3 class="uk-margin-remove">Overlay Bottom</h3>
                        <p class="uk-margin-remove">To achieve this simple layout, select Brain Dump and Post-It Note in
                            our Daily Page builder.</p>
                        <a href="" class="uk-icon-button" uk-icon="heart"></a>
                    </div>
                </li>
                <li>
                    <img src="images/defaultthreeday.png" alt="" uk-cover>
                    <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                        <h3 class="uk-margin-remove">Overlay Bottom</h3>
                        <p class="uk-margin-remove">Do you have a busy day ahead of you but you can't seem to find the
                            motivation to get started? Include an Inspiration on the page builder and an inspirational
                            quote will automatically be included to give you that boost you need to take on the day.
                            This layout can be achived by selecting To Do List, Goals, and Inspiration in that daily
                            builder.</p>
                        <a href="" class="uk-icon-button" uk-icon="heart"></a>
                    </div>
                </li>
            </ul>
            <div class="uk-light">
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slideshow-item="next"></a>
            </div>
        </div>
        <button class="uk-modal-close-default" type="button" uk-close></button>
    </div>
</div>

<script src="/js/alldaily.js"></script>