{{!-- OFF CANVAS FOR MOBILE - default display: none --}}
<button id='menu-button' class="uk-button uk-button-default uk-margin-small-right" type="button"
    uk-toggle="target: #offcanvas-nav"><span uk-icon='icon: menu'></span></button>
<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="newnote uk-active"><a href="#modal" uk-toggle><span class="uk-margin-small-right"
                        uk-icon="icon: plus"></span>Add Today's Page</a></li>
            <li class="uk-nav-header">PAGES</li>
            <li id='pageArchive'><a href="/alldailynotes">View All Daily Pages</a></li>
            <li><a href="#">New Page From Template</a></li>
            <li id='newList'><a href="/lists">New Long-Term Page</a></li>
            <li id='listArchive'><a href="/longterm">View All Long-Term Pages</a></li>

            <li class="uk-nav-header">TEMPLATES</li>

            <li><a href="#">View Your Templates</a></li>
            <li><a href="#template-slideshow">Example Templates</a></li>
            <li class="uk-nav-header">ACCOUNT</li>
            <li><a href="#theme-modal" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: star"></span>Change
                    Your Theme</a></li>
            {{!-- <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Account Settings</a>
            </li> --}}
            <li class="uk-nav-divider"></li>
            <li id='logout'><a href="/api/users/logout"><span class="uk-margin-small-right"
                        uk-icon="icon: sign-out"></span> Log Out</a>
            </li>
        </ul>

    </div>
</div>

{{!-- SIDEBAR FOR LARGE SCREENS --}}
<div class='uk-flex-inline'>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-3@s" id='sidebar'>
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="newnote uk-active"><a href="#modal" uk-toggle><span class="uk-margin-small-right"
                        uk-icon="icon: plus"></span>Add Today's Page</a></li>
            <li class="uk-nav-header">PAGES</li>
            <li id='pageArchive'><a href="/alldailynotes">View All Daily Pages</a></li>
            <li><a href="#">New Page From Template</a></li>
            <li id='newList'><a href="/lists">New Long-Term Page</a></li>
            <li id='listArchive'><a href="/longterm">View All Long-Term Pages</a></li>

            <li class="uk-nav-header">TEMPLATES</li>

            <li><a href="#">View Your Templates</a></li>
            <li><a href="#template-slideshow" uk-toggle>Example Templates</a></li>
            <li class="uk-nav-header">ACCOUNT</li>
            <li><a href="#theme-modal" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: star"></span>Change
                    Your Theme</a></li>
            {{!-- <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Account Settings</a>
            </li> --}}
            <li class="uk-nav-divider"></li>
            <li id='logout'><a href="/api/users/logout"><span class="uk-margin-small-right"
                        uk-icon="icon: sign-out"></span> Log Out</a>
            </li>
        </ul>
    </div>

    <!-- Modal for template options for new page -->

    <div id="modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Let's add a new note! What would you like included?</h2>
            <form id="noteCreate">
                <label><input class="uk-checkbox" type="checkbox" name="checkbox1" id='addSchedule'>
                    Scheduler</label><br>
                <label><input class="uk-checkbox" type="checkbox" name="checkbox2" id='addToDo'> To Do List</label><br>
                <label><input class="uk-checkbox" type="checkbox" name="checkbox3" id='addInspo'> Inspirational
                    Quote</label><br>
                <label><input class="uk-checkbox" type="checkbox" name="checkbox4" id='addDump'> Brain Dump</label><br>
                <label><input class="uk-checkbox" type="checkbox" name="checkbox5" id='addGoal'> Goals</label><br>
                <label><input class="uk-checkbox" type="checkbox" name="checkbox6" id='addPostit'> Post It
                    Note</label><br>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit" id='confirmPageAdd'>Continue</button>
                </p>
            </form>
        </div>
    </div>

    {{!-- theme switcher options modal --}}
    <div id="theme-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-text-center">
            <h2 class="uk-modal-title uk-align-center">Themes</h2>
            <div class='uk-flex uk-flex-around'>
                <label><span class="uk-icon uk-icon-image"
                        style="background-image: url(/images/defaulttheme.png);"></span><br><input class="uk-radio"
                        type="radio" name="radio1" id='default-theme'>Default</label>
                <label>
                    <span class="uk-icon uk-icon-image"
                        style="background-image: url(/images/softtheme.png);"></span><br>
                    <input class="uk-radio" type="radio" name="radio1" id='soft-theme'>
                    Soft Default</label>
                <label>
                    <span class="uk-icon uk-icon-image"
                        style="background-image: url(/images/greentheme.png);"></span><br>
                    <input class="uk-radio" type="radio" name="radio1" id='green_theme'>
                    Soft Green</label>
                <label>
                    <span class="uk-icon uk-icon-image"
                        style="background-image: url(/images/naturaltheme.png);"></span><br>
                    <input class="uk-radio" type="radio" name="radio1" id='natural-theme'>
                    Natural</label>
                <label>
                    <span class="uk-icon uk-icon-image" style="background-image: url(/images/darkmode.png);"></span><br>
                    <input class="uk-radio" type="radio" name="radio1" id='dark-mode'>
                    Default Dark</label>
                <label>
                    <span class="uk-icon uk-icon-image" style="background-image: url(/images/darkmono.png);"></span><br>
                    <input class="uk-radio" type="radio" name="radio1" id='dark-mono'>
                    Classic Dark Mode</label>
            </div>
            <br><br>

            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="submit" id='theme-switch'>Save</button>
            </p>
        </div>
    </div>


    {{!-- EXAMPLE THEMES SLIDESHOW MODAL --}}

    <div id="template-slideshow" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: slide; finite: true">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="/images/addnew.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Customize Your Daily Page!</h3>
                            <p class="uk-margin-remove">Make your pages fit your lifestyle by including elements that work for your day. You can select any combination by checking the boxes on our 'Add Today's Page' builder, or base your selection on one of our pre-made example templates. Scroll for inspiration!</p><br>
                        </div>
                    </li>
                    <li>
                        <img src="images/defaultfullday.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Full Day</h3>
                            <p class="uk-margin-remove">This template shows all of our available elements on one page. If you have a full day ahead of you, this option offers the most opportunity for organization and planning. To create this page in our Daily Page builder, make sure all of those boxes are checked!</p>
                        </div>
                    </li> 
                    <li>
                        <img src="/images/creatingday.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">All The Lists</h3>
                            <p class="uk-margin-remove">Some of us are just list people - and this layout is perfect if you are. To create this page in our Daily Page builder, you'll want to check the boxes next to To Do List and Goals.</p>
                        </div>
                    </li> 
                    <li>
                        <img src="images/defaultacnhday.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Keep Track of Big Events</h3>
                            <p class="uk-margin-remove">Hold onto memories of important events - like Animal Crossing 2.0! To achieve this simple layout, select Brain Dump and Post-It Note in our Daily Page builder.</p>
                            <p><span uk-icon="chevron-double-right"></span>  Brain Dump, Post-It Note</p>
                        </div>
                    </li> 
                    <li>
                        <img src="images/defaultthreedaytemp.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Add Inspiration</h3>
                            <p class="uk-margin-remove">Do you have a busy day ahead of you but you can't seem to find the motivation to get started? Include an Inspiration on the page builder and an inspirational quote will automatically be included to give you that boost you need to take on the day.</p>
                        </div>
                    </li> 
                    <li>
                        <img src="images/fouritemtemp.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Make It Personal</h3>
                            <p class="uk-margin-remove">description</p>
                        </div>
                    </li>
                    <li>
                        <img src="images/tododetailstemp.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Go Into Detail</h3>
                            <p class="uk-margin-remove">If the to-do's in your day are too long to fit on one line, add in a brain dump so you don't forget those extra details.</p>
                        </div>
                    </li> 
                    <li>
                        <img src="images/inspodumptemp.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Do Some Reflecting</h3>
                            <p class="uk-margin-remove">Use the brain dump widget in tandem with some Inspiration as a moment to reflect on what the selected quote means to you.</p>
                        </div>
                    </li> 
                    <li>
                        <img src="images/memorydumptemp.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Capture Your Life's Big Moments</h3>
                            <p class="uk-margin-remove">Use the sticky note and brain dump widgets to keep track of important memories and jot down those crucial details!</p>
                        </div>
                    </li> 
                    <li>
                        <img src="images/addwidget.png" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h3 class="uk-margin-remove">Forget to add an element?</h3>
                            <p class="uk-margin-remove">If your created template isn't meeting the requirements for your day, don't worry! You can add additional widgets into your daily page easily in the top right corner of your note.</p>
                        </div>
                    </li> 
                </ul>
                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                        uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                        uk-slideshow-item="next"></a>
                </div>
            </div>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>
    </div>

    {{!-- CALENDAR --}}
    <div class="uk-container uk-width-2xlarge@m uk-width-large@s uk-height-auto">
        
        <h1 class="uk-heading-line uk-text-center"><span id="monthAndYear"></span></h1>
        <table class="uk-table uk-table-middle uk-table-striped uk-table-divider" id="calendar">
            <thead>
            <tr>
                <th class="uk-table-shrink">Sun</th>
                <th class="uk-table-shrink">Mon</th>
                <th class="uk-table-shrink">Tue</th>
                <th class="uk-table-shrink">Wed</th>
                <th class="uk-table-shrink">Thu</th>
                <th class="uk-table-shrink">Fri</th>
                <th class="uk-table-shrink">Sat</th>
            </tr>
            </thead>

            <tbody id="calendar-body">

            </tbody>
        </table>

        <div class="form-inline">

            <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

            <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
        </div>
        <br/>
        <form class="form-inline">
            <label class="lead mr-2 ml-2" for="month">Jump To: </label>
            <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                <option value=0>Jan</option>
                <option value=1>Feb</option>
                <option value=2>Mar</option>
                <option value=3>Apr</option>
                <option value=4>May</option>
                <option value=5>Jun</option>
                <option value=6>Jul</option>
                <option value=7>Aug</option>
                <option value=8>Sep</option>
                <option value=9>Oct</option>
                <option value=10>Nov</option>
                <option value=11>Dec</option>
            </select>


            <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
            <option value=1990>1990</option>
            <option value=1991>1991</option>
            <option value=1992>1992</option>
            <option value=1993>1993</option>
            <option value=1994>1994</option>
            <option value=1995>1995</option>
            <option value=1996>1996</option>
            <option value=1997>1997</option>
            <option value=1998>1998</option>
            <option value=1999>1999</option>
            <option value=2000>2000</option>
            <option value=2001>2001</option>
            <option value=2002>2002</option>
            <option value=2003>2003</option>
            <option value=2004>2004</option>
            <option value=2005>2005</option>
            <option value=2006>2006</option>
            <option value=2007>2007</option>
            <option value=2008>2008</option>
            <option value=2009>2009</option>
            <option value=2010>2010</option>
            <option value=2011>2011</option>
            <option value=2012>2012</option>
            <option value=2013>2013</option>
            <option value=2014>2014</option>
            <option value=2015>2015</option>
            <option value=2016>2016</option>
            <option value=2017>2017</option>
            <option value=2018>2018</option>
            <option value=2019>2019</option>
            <option value=2020>2020</option>
            <option value=2021>2021</option>
            <option value=2022>2022</option>
            <option value=2023>2023</option>
            <option value=2024>2024</option>
            <option value=2025>2025</option>
            <option value=2026>2026</option>
            <option value=2027>2027</option>
            <option value=2028>2028</option>
            <option value=2029>2029</option>
            <option value=2030>2030</option>
        </select></form>
    
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src='/js/dashboard.js'></script>
<script src='/js/themes.js'></script>