<div class='uk-flex-inline'>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-3@s">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-active"><a href="#modal" uk-toggle>New Page</a></li>
            <li class="uk-nav-header">PAGES</li>
            <li class='newPage'><a href="#modal" uk-toggle>Add a Page</a></li>
            <li><a href="#">New Page From Template</a></li>
            <li id='newList'><a href="#">New Long-Term Page</a></li>
            <li id='pageArchive'><a href="#">View All Daily Pages</a></li>
            <li id='listArchive'><a href="#">View All Long-Term Pages</a></li>

            <li class="uk-nav-header">TEMPLATES</li>

            <li><a href="#">View Your Templates</a></li>
            <li id='newTemplate'><a href="#">Add A Template</a></li>
            <li><a href="#">Example Templates</a></li>
            <li class="uk-nav-header">ACCOUNT</li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: star"></span> Upgrade</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Account Settings</a></li>
            <li class="uk-nav-divider"></li>
            <li id='logout'><a href="/api/users/logout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Log Out</a>
            </li>
        </ul>
    </div>

    {{#if braindumps.[0].content}}
        {{> pastBraindump}}
    {{/if}}

    {{#if todos.[0]}}
        {{> pastTodo}}
    {{/if}}

    {{#if inspirations.[0].content}}
        {{> pastInspo}}
    {{/if}}

    {{#if schedules.[0]}}
        {{> pastScheduler}}
    {{/if}}
</div>

