<h1 class="uk-animation-slide-top" style="text-align: center;">Welcome to</h1>
<h1 class="uk-animation-slide-bottom" style="text-align: center;">Bullet Journal Squared</h1>
<div style="display: flex; justify-content: center;">
    <a class="uk-button uk-button-default uk-animation-fade" href="/login" style="margin: 5px;">Log in</a>
    <a class="uk-button uk-button-default uk-animation-fade" href="/signup" style="margin: 5px;">Sign up</a>
</div>

    <div>
        <h1>Some example templates</h1>
        <img src="public/images/estee-janssens-mO3s5xdo68Y-unsplash.jpg" width="50%">
        <img src="public/images/prophsee-journals-OnFW5djcAYc-unsplash.jpg" width="50%">
    </div>