<h1 class="uk-animation-slide-top" style="text-align: center;">Log in</h1>
<h3 class="uk-animation-slide-bottom" style="text-align: center;">We're happy to have you back</h3>

<form style="display: flex; justify-content: center;">
    <div class="uk-block">
        <div class="uk-inline" style="margin: 5px;">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" placeholder="username" id="username">
        </div>
    </div>
    <div class="uk-block">
        <div class="uk-inline" style="margin: 5px;">
            <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" placeholder="password" id="password">
        </div>
    </div>
</form>