    <!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>
</head>



<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo"></a>

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Home</a></li>
            <li><a href="./dashboardUI.html">Dashboard</a></li>
            <li>
                <a href="#">More</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Templates</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>

<body>

    <button class="uk-button uk-button-default uk-margin-small-right" type="button"
        uk-toggle="target: #offcanvas-nav"><span uk-icon='icon: menu'></span></button>

    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: plus"></span>New
                        Page</a></li>
                <li class="uk-nav-header">PAGES</li>
                <li><a href="#">New Page From Template</a></li>
                <li><a href="#">New Long-Term Page</a></li>
                <li><a href="#">View All Daily Pages</a></li>
                <li><a href="#">View All Long-Term Pages</a></li>

                <li class="uk-nav-header">TEMPLATES</li>

                <li><a href="#">View Your Templates</a></li>
                <li><a href="#">Add A Template</a></li>
                <li><a href="#home">Example Templates</a></li>


                <li class="uk-nav-header">ACCOUNT</li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: star"></span> Upgrade</a>
                </li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cog"></span> Account
                        Settings</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Log Out</a>
                </li>
            </ul>

        </div>
    </div>

    <!-- ACTUAL NOTE TEMPLATE SECTION -- ALL WITHIN A SECTION DIV -->
    <div
        class="uk-section uk-section-default uk-margin-auto uk-margin-auto-vertical uk-child-width-expand uk-align-center">

        <!-- SORTABLE ELEMENT DIV WRAPPED AROUND ALL TEMPLATE ELEMENTS -->
        <div uk-sortable="handle: .uk-card"
            class='uk-flex uk-flex-between uk-flex-wrap uk-margin-auto uk-flex-wrap-between uk-width-3-4'>

            <div class="uk-margin uk-width-auto">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Today's Schedule</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <table class='uk table uk-table-striped'>
                            <thead>
                                <tr>
                                    <th class='uk-width-small uk-table-middle'>Time</th>
                                    <th class='uk-table-expand'>Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="uk-label">8:00am</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">9:00am</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">10:00am</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">11:00am</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">12:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">1:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">2:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">3:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">4:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">5:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">6:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">7:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="uk-label">8:00pm</span></td>
                                    <td><input class="uk-input uk-form-blank uk-form-width-large uk-form-small"
                                            type="text" placeholder="">
                                    </td>
                                </tr>
                            </tbody>

                        </table>



                    </div>
                </div>


            </div>

            <!-- TO DO LIST ITEM - has check boxes and text box inputs -->
            <div class="uk-margin uk-width-auto">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">TO DO LIST</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <form>
                            <ul class="uk-list" id='todo-list'>
                                <li>
                                    <label>
                                        <input class="uk-checkbox" type="checkbox">
                                        <input class="uk-input uk-form-blank uk-form-width-medium" type="text"
                                            placeholder="Enter an item...">
                                    </label>
                                </li>
                                <li>
                                    <label><input class="uk-checkbox" type="checkbox"><input
                                            class="uk-input uk-form-blank uk-form-width-medium" type="text"
                                            placeholder="Enter an item..."></label>
                                </li>
                                <li>
                                    <label><input class="uk-checkbox" type="checkbox"><input
                                            class="uk-input uk-form-blank uk-form-width-medium" type="text"
                                            placeholder="Enter an item..."></label>
                                </li>
                                <li>
                                    <a id='todo-item' href="#">Add Another Item</a>
                                </li>
                            </ul>
                        </form>

                    </div>
                </div>
            </div>


            <!-- small inspo quote card -->
            <div class="uk-height-small uk-margin">
                <div class="uk-card uk-card-large uk-card-default uk-card-body uk-text-center">
                    <h4>Inspo Quote</h4>
                    <p>get inspired bitches</p>
                </div>
            </div>
            <!-- small inspo quote card -->
            <div class="uk-height-small uk-margin">
                <div class="uk-card uk-card-large uk-card-default uk-card-body uk-text-center">
                    <h4>Inspo Quote 2</h4>
                    <p>all the inspo</p>
                </div>
            </div>





            <!-- large braindump card w title and textbox included -->
            <div class="uk-margin uk-height-medium uk-width-large">
                <div class="uk-card uk-card-small uk-card-default uk-card-body">
                    <form>
                        <input class="uk-input uk-form-blank uk-form-width-medium" type="text" placeholder="Brain Dump">
                        <textarea class="uk-textarea uk-form-blank" rows="5"
                            placeholder="Dump those thoughts here!"></textarea>
                    </form>
                </div>

            </div>

            <!-- card with title for schedule -- has sortable in the body to move scheduled items  -->










        </div>


    </div>


    <script src='elements.js' defer></script>
    <!-- <script src='./script.js'></script> -->

</body>

</html>